<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrontEnd.Properties.Settings.tcmrestauranteConnectionString"
            connectionString="Data Source=LAPTOP-KJ1E8U0D/SQL2014;Initial Catalog=tcmrestaurante;User ID=sa;Password=1234567"
            providerName="System.Data.SqlClient" />
        <add name="FrontEnd.Properties.Settings.tcmrestauranteConnectionString1"
            connectionString="Data Source=LAPTOP-KJ1E8U0D\SQL2014;Initial Catalog=tcmrestaurante;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>